{% extends 'base.html.twig' %}

{% block title %}{{ product.name}}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-4">
            <h3>{{ product.name}}</h3>
            <p>{{ product.subtitle }}</p>
            <span>{{ (product.price/100)|number_format(2, ',', '.') }} €</span>
            <hr>
            <p>
                {{ product.description }}
            </p>
            <a href="{{ path('app_add_to_cart', { 'id' : product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>

{% endblock %}