<div class="product-item text-center">
    <a href="{{ path('app_product', {'slug' : product.slug}) }}"><img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="img-fluid"></a>
    <div class="mt-3"></div>
    <h5>{{ product.name }}</h5>
    <span>{{ product.subtitle }}</span><br>
    <span>{{ (product.price / 100) |number_format(2, ',', '.')}} €</span>
</div>